@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  text-decoration: none;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

.poppins-font {
  font-family: "Poppins", sans-serif;
}

.uppercase {
  text-transform: uppercase;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
}

.purple-section-color {
  background: linear-gradient(224.72deg, #3023ae -1%, #c86dd7 100.5%);
}
.purple-section {
  position: relative;
}

.header {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 62px;
}

.website-logo {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}

.nav-bar {
  cursor: pointer;
  display: flex;
  column-gap: 30px;
}

.contact-us-btn {
  border: 1px solid rgb(255, 255, 255, 0.3);
  background-color: transparent;
  border-radius: 24px;
  color: #ffffff;
  padding: 12px 46px;
  cursor: pointer;
}

.main-content {
  color: #ffffff;
  flex: 1;
  font-weight: 700;
}

.main-title {
  font-size: 72px;
  line-height: 72px;
  margin-bottom: 26px;
}

.main-text-style {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.main-paragraph {
  margin-bottom: 35px;
}

.main-section {
  display: flex;
  align-items: center;
  column-gap: 100px;
  flex-wrap: wrap;
}

.button {
  padding: 12px;
  border: none;
  border-radius: 24px;
  color: #ffffff;
  font-weight: 700;
  line-height: 24px;
  cursor: pointer;
  min-width: 150px;
}

.yellow-btn {
  background-color: #ffc300;
}

.all-works {
  text-align: center;
}

.laptop {
  position: relative;
}

.social-media-icons {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  bottom: 48px;
  column-gap: 8px;
}

.oval {
  position: absolute;
  bottom: 0;
  left: -50px;
}

.second-section {
  background-color: #ffffff;
  margin-top: 128px;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  column-gap: 100px;
  display: flex;
  margin-bottom: 96px;
  flex-wrap: wrap;
  align-items: center;
}

.content-first-text {
  font-weight: 700;
  margin-bottom: 18px;
  display: block;
}

.content-title-style {
  line-height: 64px;
  font-size: 56px;
  font-weight: 700;
}

.section-content-title {
  margin-bottom: 55px;
  flex: 1;
}

.content-second-text {
  font-weight: 600;
  display: block;
  margin-bottom: 10px;
}

.second-content-paragraph {
  opacity: 0.5;
  font-weight: 400;
  margin-bottom: 46px;
}

.expanded-text {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.expanded {
  border-bottom: 8px solid #c86dd7;
}

.collapsed-text {
  display: flex;
  align-items: center;
  column-gap: 8px;
  font-weight: 600;
  margin-bottom: 24px;
}

.second-section-image {
  background: linear-gradient(235.13deg, #3023ae -62.75%, #c86dd7 106.66%);
  border-radius: 3px 0px 0px 3px;
  transform: translateX(2.5%);
  position: relative;
  flex: 1;
}

.bitmap {
  transform: translate(32px, -32px);
}

.second-content {
  flex: 1;
}

.white-oval {
  position: absolute;
  top: 28%;
  right: 76%;
}

.triangle {
  position: absolute;
  top: 46%;
}

.third-section {
  background-color: #fdf2ff;
  padding-top: 60px;
  padding-bottom: 37px;
}

.content-1 {
  display: flex;
}

.third-section-space {
  margin-bottom: 48px;
}

.content-1-paragraph {
  flex: 1;
}

.gray-text {
  font-weight: 400;
  opacity: 0.5;
}

.items {
  display: flex;
  column-gap: 31px;
  padding-bottom: 42px;
}

.content-images {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.image-text1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: #ffffff;
}

.image-text2 {
  opacity: 0.5;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  display: block;
}

.image2-content {
  position: absolute;
  bottom: 0;
  margin-left: 35px;
  margin-bottom: 26px;
}

.image2 {
  position: relative;
}

.fugiat-quo {
  margin-top: 82px;
  margin-bottom: 80px;
}

.fugiat-quo-content {
  text-align: center;
}

.text-content {
  width: 60%;
  margin: 0 auto;
}

.fugiat-quo-title {
  margin-bottom: 23px;
}

.section-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.icon-title {
  line-height: 32px;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 10px;
  display: block;
}

.fugiat-quo-paragraph {
  margin-bottom: 32px;
}

.icon-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 370px;
  padding: 40px 24px 40px 24px;
  border-radius: 3px;
}

.icon {
  text-align: center;
  margin-top: 19px;
}

.icon-content:hover {
  box-shadow: 16px 16px 48px rgba(0, 0, 0, 0.0994678);
}

.bleu-section-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  padding: 173px 0 0 80px;
  column-gap: 200px;
  flex-wrap: wrap;
}

.bleu-section {
  background-color: #3023ae;
  padding-bottom: 222px;
  position: relative;
}

.bleu-content-title {
  margin-top: 18px;
  margin-bottom: 23px;
}

.bleu-content-paragraph {
  margin-bottom: 35px;
}

.bleu-content {
  flex: 1;
}

.bleu-images {
  position: relative;
  justify-self: center;
}

.bleu-image1 {
  right: 42%;
  top: -42px;
}

.image-position {
  position: absolute;
}

.bleu-image2 {
  top: 0;
  left: 64%;
}

.bleu-image3 {
  right: -13%;
  top: 49%;
}

.bleu-image4 {
  right: 7%;
  top: 75%;
}

.bleu-image5 {
  top: 54%;
  left: -8%;
}

.shape1 {
  position: absolute;
  top: 0;
  right: 44%;
}

.shape2 {
  position: absolute;
  bottom: 0;
  left: 0;
}

.oval2 {
  position: absolute;
  top: -12%;
  right: 0;
}

.shape3 {
  position: absolute;
  bottom: 0;
  right: 50%;
}

.officis-debitis-paragraph {
  margin-bottom: 64px;
  text-align: center;
  flex: 1;
}

.officis-debitis-title {
  margin-bottom: 23px;
}

.officis-debitis {
  margin-top: 71px;
  margin-bottom: 94px;
}

.officis-debitis-content {
  text-align: center;
}

.comments {
  display: flex;
  margin-bottom: 95px;
  column-gap: 30px;
}

.comment {
  display: flex;
  flex-direction: column;
  padding: 32px;
  flex: 1;
  box-shadow: 16px 16px 48px rgba(0, 0, 0, 0.0994678);
}

.comment-text {
  margin-top: 14px;
  margin-bottom: 16px;
}

.officis-icons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.pink-section {
  background-color: #fdf2ff;
}

.pink-content {
  display: flex;
  align-items: center;
  padding-top: 144px;
  column-gap: 100px;
  padding-bottom: 80px;
  flex-wrap: wrap;
}

.pink-section-image {
  background: linear-gradient(224.72deg, #3023ae -1%, #c86dd7 100.5%);
  border-radius: 3px;
  position: relative;
}

.pink-section-content {
  flex: 1;
}

.pink-content-paragraph {
  margin-top: 23px;
  margin-bottom: 32px;
}

.purple-btn {
  background-color: #c86dd7;
}

.pink-section-title {
  margin-top: 20px;
}

.bottom-image {
  background-image: url("images/footer-image.png");
  padding-top: 135px;
  padding-bottom: 74px;
}

.footer-icons-content {
  align-self: flex-end;
}

.footer-content {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.footer-paragraph {
  margin-top: 23px;
  padding-bottom: 32px;
  text-align: center;
}

.footer-title {
  text-align: center;
}

.email-input {
  border-radius: 3px;
  border: 1px solid #dadada;
  width: 370px;
  height: 48px;
}

.contact-us {
  column-gap: 30px;
  display: flex;
  padding-bottom: 160px;
  flex-wrap: wrap;
  justify-content: center;
}

.email-input::placeholder {
  opacity: 0.5;
  padding-left: 16px;
}

.pink-image-text {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

.pink-image-paragraph {
  font-weight: 400;
  margin-top: 10px;
}

.pink-image-content {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  position: absolute;
  bottom: 12%;
  width: 74%;
  right: 11%;
}

.adaora-image {
  display: flex;
  column-gap: 20px;
  align-items: center;
  margin-top: 18px;
}

.footer-lists {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex: 3;
}

.border-footer {
  border-bottom: 1px solid rgb(0, 0, 0, 0.1);
}

.footer-icons {
  display: flex;
  column-gap: 8px;
  margin-bottom: 15px;
}

.footer-lists-content {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  flex-wrap: wrap;
  row-gap: 58px;
}

.footer-icons-content {
  align-self: flex-start;
}
.list-items {
  grid-gap: 10px;
  display: flex;
  flex-direction: column;
}

.list-title {
  margin-bottom: 10px;
  display: block;
}

.header-space {
  padding-top: 30px;
}

.disabled-menu {
  display: none;
}

@media only screen and (max-device-width: 600px) {
  .container,
  .second-content,
  .content-1,
  .content-first-text,
  .items {
    padding-left: 14px;
    padding-right: 14px;
  }

  .contact-us-btn,
  .nav-bar,
  .image2-content,
  .shape2,
  .shape3,
  .shape1 {
    display: none;
  }

  .bleu-content {
    margin-top: 35px;
  }

  .header-space {
    background-color: #ffffff;
    padding: 0;
  }
  .purple-section {
    padding-top: 0;
  }

  .website-logo {
    display: block;
    color: #333333;
    padding: 16px 0px 16px 14px;
  }

  .disabled-menu,
  .content-1 {
    display: block;
  }

  .main-title {
    font-size: 56px;
    line-height: 64px;
  }

  .social-media-icons {
    right: 34%;
    bottom: 36px;
  }

  .explore-btn {
    margin-bottom: 16px;
  }

  .oval2 {
    top: 37%;
  }

  .bitmap {
    transform: translate(16px, -16px);
  }

  .second-section {
    display: initial;
    flex-wrap: unset;
  }

  .bleu-images {
    margin-top: 100px;
  }

  .section-icons {
    flex-wrap: unset;
    flex-direction: column;
    align-items: center;
  }

  .white-oval {
    width: 30%;
    right: 32%;
  }

  .triangle {
    top: 40%;
    right: 44%;
    width: 5%;
  }

  .second-section-image {
    margin-top: 74px;
    flex: 0%;
  }

  .section-content-title,
  .officis-debitis-title,
  .pink-section-title,
  .footer-title,
  .fugiat-quo-title,
  .bleu-content-title {
    font-size: 40px;
    line-height: 48px;
  }

  .bottom-image {
    padding-top: 70px;
  }

  .content-1 {
    flex-wrap: wrap;
  }

  .exercitation {
    content: url("./images/image2-mobile.png");
  }

  .content-images {
    grid-gap: 17px;
    display: grid;
    place-content: center;
    place-items: center;
  }

  .pink-section-image {
    margin-top: 67px;
  }

  .items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 46px;
    grid-gap: 24px;
  }

  .contact-us {
    padding-bottom: 64px;
    align-items: end;
  }

  .officis-icons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 50px;
    place-items: center;
  }
  .second-content {
    flex: 0;
  }

  .comments {
    display: grid;
    grid-gap: 16px;
  }

  .email-input {
    width: 346px;
    margin: 0 15px 16px 15px;
  }

  .shape1 {
    position: absolute;
    top: -3%;
    right: -12%;
  }

  .bleu-image1 {
    width: 136px;
    height: 139px;
    left: 0;
    top: 0;
  }

  .bleu-image2 {
    width: 113px;
    height: 113px;
  }

  .bleu-image3 {
    width: 90px;
    height: 88px;
  }

  .laptop {
    padding-left: 33px;
    margin-top: 16px;
  }

  .bleu-image4 {
    width: 118px;
    height: 109px;
  }
  .bleu-image5 {
    width: 133px;
    height: 138px;
  }

  .bleu-section-content {
    padding-top: 100px;
    grid-gap: 43px;
    display: grid;
  }

  .footer-lists-content,
  .footer-lists {
    display: grid;
    grid-gap: 40px;
  }

  .text-content {
    width: 100%;
  }

  .bleu-section {
    padding-bottom: 80px;
  }
}

@media screen and (max-width: 1170px) {
  .container {
    padding: 0 20px;
  }
}
