@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  text-decoration: none;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

.poppins-font {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.purple-section {
  background: linear-gradient(224.72deg, #3023ae -1%, #c86dd7 100.5%);
  padding-top: 30px;
}

.header {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 62px;
}

.website-logo {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}

.nav-bar {
  cursor: pointer;
  display: flex;
  column-gap: 30px;
}

.contact-us-btn {
  border: 1px solid rgb(255, 255, 255, 0.3);
  background-color: transparent;
  border-radius: 24px;
  color: #ffffff;
  padding: 12px 46px;
  cursor: pointer;
}

.main-content {
  color: #ffffff;
  flex: 1;
  font-weight: 700;
}

.main-title {
  font-size: 72px;
  line-height: 72px;
  margin-bottom: 26px;
}

.main-text-style {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.main-paragraph {
  margin-bottom: 35px;
}

.main-section {
  display: flex;
  align-items: center;
  column-gap: 100px;
}

.btn {
  padding: 12px 58px;
  border: none;
  border-radius: 24px;
  color: #ffffff;
  font-weight: 700;
  line-height: 24px;
  cursor: pointer;
}

.explore-btn {
  background-color: #ffc300;
}

.all-works-btn {
  background-color: #c86dd7;
}

.all-works {
  text-align: center;
}

.laptop {
  position: relative;
}

.social-media-icons {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  bottom: 48px;
  column-gap: 8px;
}

.oval {
  position: absolute;
  bottom: 0;
  left: -50px;
}

.second-section {
  background-color: #ffffff;
  margin-top: 128px;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  display: flex;
  column-gap: 100px;
  margin-bottom: 96px;
}

.content-first-text {
  font-weight: 700;
  margin-bottom: 18px;
  display: block;
}

.content-title-style {
  line-height: 64px;
  font-size: 56px;
  font-weight: 700;
}

.section-content-title {
  margin-bottom: 55px;
}

.content-second-text {
  font-weight: 600;
  display: block;
  margin-bottom: 10px;
}

.second-content-paragraph {
  opacity: 0.5;
  font-weight: 400;
  margin-bottom: 46px;
}

.collapsed-text {
  display: flex;
  align-items: center;
  column-gap: 8px;
  font-weight: 600;
  margin-bottom: 24px;
}

.second-section-image {
  background: linear-gradient(235.13deg, #3023ae -62.75%, #c86dd7 106.66%);
  border-radius: 3px 0px 0px 3px;
  transform: translateX(2.5%);
  position: relative;
}

.bitmap {
  transform: translate(32px, -32px);
}

.second-content {
  width: 50%;
}

.white-oval {
  position: absolute;
  top: 28%;
  right: 76%;
}

.triangle {
  position: absolute;
  top: 45%;
}

.third-section {
  background-color: #fdf2ff;
  padding-top: 60px;
  padding-bottom: 37px;
}

.content-1 {
  display: flex;
}

.third-section-space {
  margin-bottom: 48px;
}

.content-1-paragraph {
  width: 50%;
}

.gray-text {
  font-weight: 400;
  opacity: 0.5;
}

.items {
  display: flex;
  column-gap: 31px;
  padding-bottom: 42px;
}

.content-images {
  display: flex;
  justify-content: space-between;
}

.image-text1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: #ffffff;
}

.image-text2 {
  opacity: 0.5;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  display: block;
}

.image2-content {
  position: absolute;
  bottom: 0;
  margin-left: 35px;
  margin-bottom: 26px;
}

.image2 {
  position: relative;
}

.fugiat-quo {
  margin-top: 82px;
  margin-bottom: 80px;
}

.fugiat-quo-content {
  text-align: center;
}

.fugiat-quo-title {
  margin-bottom: 23px;
}

.section-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.icon-title {
  line-height: 32px;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 10px;
  display: block;
}

.fugiat-quo-paragraph {
  margin-bottom: 80px;
}

.icon-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 370px;
  padding: 40px 24px 40px 24px;
  border-radius: 3px;
}

.icon {
  text-align: center;
  margin-top: 19px;
}

.icon-content:hover {
  box-shadow: 16px 16px 48px rgba(0, 0, 0, 0.0994678);
}

.bleu-section-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  padding: 173px 0 0 80px;
  column-gap: 200px;
}

.bleu-section {
  background-color: #3023ae;
  padding-bottom: 222px;
}

.bleu-content-title {
  margin-top: 18px;
  margin-bottom: 23px;
}

.our-team-btn {
  background-color: #ffc300;
  margin-top: 35px;
}

.bleu-content {
  flex: 1;
}

.bleu-images {
  position: relative;
}

.bleu-image1 {
  right: 42%;
  top: -42px;
}

.image-position {
  position: absolute;
}

.bleu-image2 {
  top: 0;
  left: 64%;
}

.bleu-image3 {
  right: -13%;
  top: 49%;
}

.bleu-image4 {
  right: 7%;
  top: 68%;
}

.bleu-image5 {
  top: 48%;
  left: -11%;
}

.officis-debitis-paragraph {
  margin-bottom: 64px;
  text-align: center;
  flex: 1;
}

.officis-debitis-title {
  margin-bottom: 23px;
}

.officis-debitis {
  margin-top: 71px;
  margin-bottom: 94px;
}

.officis-debitis-content {
  text-align: center;
  width: 60%;
  margin: auto;
}
.comments {
  display: flex;
  margin-bottom: 95px;
  column-gap: 30px;
}

.comment {
  display: flex;
  flex-direction: column;
  padding: 32px;
}

.comment:hover {
  box-shadow: 16px 16px 48px rgba(0, 0, 0, 0.0994678);
}

.comment-text {
  margin-top: 14px;
  margin-bottom: 16px;
}

.officis-icons {
  display: flex;
  justify-content: space-between;
}

.pink-section {
  background-color: #fdf2ff;
}

.pink-content {
  display: flex;
  align-items: center;
  padding-top: 144px;
  column-gap: 100px;
  padding-bottom: 80px;
  align-items: center;
}

.pink-section-image {
  background: linear-gradient(224.72deg, #3023ae -1%, #c86dd7 100.5%);
}

.pink-section-content {
  flex: 1;
}
.pink-content-paragraph {
  margin-top: 23px;
  margin-bottom: 32px;
}

.our-blog-btn {
  background-color: #c86dd7;
}

.pink-section-title {
  margin-top: 20px;
}
